.header
    position: absolute
    z-index: 3
    top: 35px
    left: 50%
    transform: translateX(-50%)
.header-wrapper
    display: flex
    justify-content: space-between
    align-items: center
.header-logo
    display: flex
    width: 135px
    align-items: center
    &__sing
        font-weight: 700
        font-size: 28px
.nav-list
    list-style-type: none
    display: flex
    width: 540px
    justify-content: space-between
    &__item
        font-weight: 400
        font-size: 20px
        &_active
            font-weight: 700
            color: $violet
    &__link
        text-decoration: none

